<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         cacheDirectory=".phpunit.result.cache"
         displayDetailsOnPhpunitDeprecations="true"
>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>./.github</directory>
            <directory>./bin</directory>
            <directory>./Resources</directory>
            <directory>./Tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </source>

    <php>
        <env name="SYMFONY_PHPUNIT_VERSION" value="9.6" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0" />
    </php>
</phpunit>
